{% extends "layout.html" %}

{% block content %}

<div class="row">
    <h1 style="font-size: xx-large; font-style: italic;">This Web Page Was Created By:</h1>

    <div class="col-12">
        <label style="font-size: 23px;">° Brían Vanegas</label>
    </div>
    <div class="col-12">
        <label style="font-size: 23px;">° Julián Heredia Sánchez</label>
    </div>


    <h1 style="margin-top: 170px; font-size: xx-large; font-style: italic;">The API Used For This Page Was:</h1>

    <div class="col-12">
       <label style="font-size: 23px;">° Punk API:  </label>
       <a style="font-size: 23px;" href="https://punkapi.com/" target="_blank" rel="noopener noreferrer">https://punkapi.com/</a> 
    </div>
  </div>

  <div class="row" style="margin-top: 263px;"></div>

{% endblock %}