{% extends "layout.html" %}

{% block content %}

<div class="owl-carousel testimonials-carousel">

    <div class="testimonial-item">
      <img src="static/assets/img/beers1.jpg" class="testimonial-img" alt="">
      <h3>Drink a Beer!</h3>
      <p>
        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
        This website was made for you to see different beers which you can drink!
        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
      </p>
    </div>

    <div class="testimonial-item">
      <img src="static/assets/img/beers2.jpg" class="testimonial-img" alt="">
      <h3>Drink a Beer!</h3>
      <p>
        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
        This website was made for you to see different beers which you can drink!
        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
      </p>
    </div>

    <div class="testimonial-item">
      <img src="static/assets/img/beers3.jpg" class="testimonial-img" alt="">
      <h3>Drink a Beer!</h3>
      <p>
        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
        This website was made for you to see different beers which you can drink!
        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
      </p>
    </div>    

  </div>

{% endblock %}